.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: all 0.5s ease-in;
    z-index: 100000;
  }
  
  .backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
  
  .is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.5);
  }
  
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 528px;
    height: 581px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background-color: #EAD1B7;
    transition: transform 0.5s;
    z-index: 10000;
  }
  
  .modal-window {
    position: relative;
    width: 528px;
    height: 581px;
    padding: 40px;
  }
  
  .modal-button {
    position: absolute;
    top: 8px;
    right: 10px;
    border: none;
    background-color: inherit;
  }
  
  .modal-title {
    margin-bottom: 12px;
    font-family: 'Atomic Age', cursive;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    color: #672D0A;
  }
  
  .form-item {
    display: block;
    margin-bottom: 4px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: #757575;
  }
  
  .modal-input {
    width: 448px;
    height: 40px;
    border-radius: 4px;
    background-color: #fff;
    padding-left: 33px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
  }
  
  .modal-input:not(:placeholder-shown) {
    border-color: var(--accent-color);
  }
  
  .modal-input:hover,
  .modal-input:focus {
    border-color: var(--accent-color);
  }
  
  .modal-input:hover + .form-icon,
  .modal-input:focus + .form-icon {
    fill: var(--accent-color);
  }
  
  .input-icon {
    position: relative;
    width: 448px;
    height: 40px;
    margin-bottom: 10px;
  }
  
  .form-icon {
    position: absolute;
    top: 11px;
    left: 12px;
    display: inline-block;
    width: 18px;
    height: 18px;
  }
  
  .comment {
    resize: none;
    width: 448px;
    margin-bottom: 20px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #fff;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  textarea::placeholder {
    padding-top: 12px;
    padding-left: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
  
  textarea:hover,
  textarea:focus {
    border-color: var(--accent-color);
  }
  
  .checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
  }
  .checkbox-item {
    background-image: url(../images/checkbox-empty.svg);
    background-repeat: no-repeat;
    width: 16px;
    height: 15px;
  }
  
  .checkbox-agreement {
    display: flex;
    align-items: center;
    margin-left: 12px;
    margin-bottom: 30px;
  }
  
  .checkbox:checked + .checkbox-item {
    background-color: var(--accent-color);
    background-image: url(../images/check-full.svg);
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
  }
  
  .agreement {
    margin-left: 7px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
  }
  
  .agreement-link {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    text-decoration: underline;
  }
  
  .checkbox-button {
    display: block;
    width: 200px;
    border-radius: 4px;
    padding: 10px 56px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    background-color: var(--accent-color);
    color: var(--secondary-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
  }  


 .mInput, .mInput-tel, .mInput-mail {
    position: relative;
  }

#Mname, #Mtel, #Memail {
    border: none;
    color: rgb(109, 107, 107);
    margin-bottom: 20px;
}

  .fa-user-ninja {
    position: absolute;
    top: 7px;
    left: 5px;
  }

  .fa-mobile-screen-button {
    position: absolute;
    top: 8px;
    left: 7px;
  }

  .fa-envelope {
    position: absolute;
    top: 9px;
    left: 7px;
  }

  .booking-text {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .send {
    width: 100px;
    height: 40px;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    border-radius: 5px;
    border: none;  
    background-color: #672D0A;
}

